@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@layer components {
  .button {
    @apply h-[74px] w-[210px] bg-primary rounded-3xl text-white text-[25px] text-center hover:button-hovered active:button-pressed;
  }
  .homebutton {
    @apply h-[99px] w-full bg-gradient-radial from-[#FFFFFF] to-[#B1EFF8] rounded-2xl drop-shadow-md textformat text-[35px] font-sans hover:button-hovered active:button-pressed;
  }
  .button-hovered {
    @apply -translate-y-1 drop-shadow-lg;
  }
  .button-pressed {
    @apply translate-y-0 drop-shadow-xl;
  }
  .textformat {
    @apply text-primary font-sans;
  }
  .inputfield {
    @apply p-[10px] rounded-2xl border-2 border-primary text-primary text-[30px] placeholder-placeholdertext focus:outline-none;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    @apply h-[100vh] w-[348px] bg-sidebar overflow-scroll;
    box-shadow: 5px 0px 5px 1px rgb(0 0 0 / 0.3);
    /* box-shadow: x-offset y-offset density breadth */
  }
  .sidebar-item {
    @apply h-[66.55px] w-[313.51px] rounded-2xl border-2 border-primary flex items-center textformat text-[22px] hover:text-[1.6em];
    box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 0.3);

    &.active {
      @apply bg-primary text-white;
    }
  }
  .sidebar-icon {
    filter: brightness(0) saturate(100%) invert(29%) sepia(24%) saturate(3567%) hue-rotate(206deg) brightness(88%) contrast(85%);
  }
  .sidebar-icon-active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(285deg) brightness(111%) contrast(101%);
  }
}

/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 348px;
  filter: drop-shadow(0 10px 0 0 rgb(0 0 0 / 0.04));
  
  &__menu {

  }
} */

@layer utilities {
  
}
