@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@layer components {
  .button {
    @apply h-[74px] w-[210px] bg-primary rounded-3xl text-white text-[25px] text-center hover:button-hovered active:button-pressed
  }
  .homebutton {
    @apply h-[99px] w-full bg-gradient-radial from-[#FFFFFF] to-[#B1EFF8] rounded-2xl drop-shadow-md textformat text-[35px] font-sans hover:button-hovered active:button-pressed
  }
  .button-hovered {
    @apply -translate-y-1 drop-shadow-lg
  }
  .button-pressed {
    @apply translate-y-0 drop-shadow-xl
  }
  .textformat {
    @apply text-primary font-sans
  }
  .inputfield {
    @apply p-[10px] rounded-2xl border-2 border-primary text-primary text-[30px] placeholder-placeholdertext focus:outline-none
  }
}

@layer utilities {
  
}
